@use '@/styles/helpers' as *;
@use '@/styles/keyframes' as *;

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	gap: 27px;
	animation: fadeIn 0.5s ease;

	&Item {
		padding: 30px;
		border: 1px solid var(--color-dark-10);
		border-radius: 12px;
		background-color: var(--color-dark-10);
		cursor: pointer;
		transition: all 0.2s ease;

		&Icon {
			transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
			transform: translateX(5px) rotate(180deg);
		}

		@include hover {
			transform: translateY(-5px);
			transition-duration: 0.5s;
			.listItemFooter {
				color: var(--color-red-60);

				.listItemIcon {
					color: var(--color-red-60);
					transform: translateX(10px) rotate(180deg);
				}
			}
		}
		&Header {
			display: flex;
			flex-wrap: wrap;
		}
		&Footer {
			margin-top: 15px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: var(--color-light);
			transition: color 0.2s ease;
		}
	}
}
