.header {
	height: 120px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	&Wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 162px;
	}
}

.logo {
	&Wrapper {
		display: flex;
		align-items: center;
		margin-block: 30px;
		gap: 10px;
	}

	&Title {
		color: var(--color-light);
	}
}
